<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/vue.js"></script>
    <script>
        window.onload=function(){
          new Vue({
              el:'#box',
              data:{
                  myData:[],
                  username: '',
                  age: '',
                  nowIndex:''
              },
              methods:{
                  add:function(){
                      this.myData.push({
                          name:this.username,
                          age:this.age
                      });
                      this.username='';
                      this.age='';
                  },
                  deleteMsg:function(n){
                      if(n==-2){
                          this.myData=[];
                      }else {
                          this.myData.splice(n,1);
                      }
                  }
              }
          });
        };
    </script>
</head>
<body>
<div class="container" id="box">
    <form role="form">
        <div class="form-group">
            <label for="username">
                用户名：
            </label>
            <input type="text" value="" id="username" placeholder="输入用户名" class="form-control" v-model="username">
        </div>
        <div class="form-group">
                <label for="age">
                    年龄：
                </label>
                <input type="text" id="age" value="" class="form-control" placeholder="输入年龄" v-model="age">
        </div>
        <div class="form-group">
            <input type="button"  class="btn btn-primary" value="添加" v-on:click="add()">
            <input  value="重置" type="reset" class="btn btn-danger">
        </div>
    </form>
<hr>
    <table class="table table-bordered table-hover">
        <caption class="h3 text-center">用户信息表</caption>
        <tr class="text-danger">
            <td class="text-center">序号</td>
            <td class="text-center">姓名</td>
            <td class="text-center">年龄</td>
            <td class="text-center">操作</td>
        </tr>
        <tr class="text-center" v-for="item in myData">
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>
                <button class="btn btn-primary btn-sm"  data-toggle="modal"  data-target="#layer" v-on:click="nowIndex=$index">删除</button>
            </td>
        </tr>
        <tr class="text-center" v-show="myData.length!=0">
            <td colspan="4">
                <button class="btn btn-danger" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=-2">全部删除</button>
            </td>
        </tr>
        <tr class="text-center" v-show="myData.length==0">
            <td colspan="4" class="text-muted">
                <p>暂无数据。。。</p>
            </td>
        </tr>
    </table>

    <div role="dialog" class="modal fade  bs-example-modal-sm" id="layer" data-index="{{nowIndex}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">确认删除吗？</h4>
                </div>
                <div class="modal-body text-right">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                    <button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="deleteMsg(nowIndex)">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>